/* Estilos personalizados para la página */

/* Ajustes generales */

body  {
  background-color: whitesmoke; /* Mantén el fondo sin cambios para los elementos con la clase */
  padding-top: 5px; /* Para compensar la altura de la barra de navegación fija */
}
#carouselSection {
  margin-top: 5px;
}

/* Estilos para los productos destacados */
#featuredProducts {
  margin-top: 5px;
}

.card {
  transition: transform 0.3s ease; /* Efecto de transición suave */
}

.card:hover {
  transform: translateY(
    -30px
  ); /* Levanta un poco la tarjeta al pasar el ratón */
}

.card-img-top {
  height: 200px; /* Altura fija para las imágenes de los productos */
}

body :not(navbar-brand){
  padding-left: 35px; /* Margen interno a la izquierda */
  padding-right: 35px; /* Margen interno a la derecha */
}

  /* Estilos para el carrusel */
  #carouselSection {
    margin-top: 5px;
  }
  
  /* Estilos para los productos destacados */
  #featuredProducts {
    margin-top: 5px;
  }
  
  .card {
    transition: transform 0.3s ease; /* Efecto de transición suave */
  }
  
  .card:hover {
    transform: translateY(
      -30px
    ); /* Levanta un poco la tarjeta al pasar el ratón */
  }
  
  .card-img-top {
    height: 200px; /* Altura fija para las imágenes de los productos */
  }
/*Inicio de cabios de la neuva pagina */

.h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:  40px !important ;
  
}
hr {
  border: none; /* Elimina el borde predeterminado */
  height: 1px; /* Establece la altura de la línea */
  background-color: #000; /* Cambia el color de fondo de la línea */
}

.responsive {
  width: 100%; 
  height:  auto; 
  
}
p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
.contenedor {
  display: flex;
  flex-direction: row-reverse; /* Invierte la dirección de flexbox para colocar la imagen a la derecha */
  align-items: center;
}

.contenedor img {
  max-width: 40%;
  margin-left: 20px; /* Espacio entre la imagen y el texto */
}

@media screen and (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }

  .contenedor img {
    margin-left: 0;
    margin-bottom: 20px;
    
  }
}
.vision {
  display: flex; /* Utiliza flexbox para la disposición */
  flex-direction: row; /* Establece la dirección de flexbox a fila (horizontal) */
  align-items: center;
}

.vision img {   /* Seleccionar imagen dentro de vision */
  max-width: 100%; /* Ajustar ancho de imagen */
  margin-right: 20px; /* Agregar espacio a derecha de imagen */
 }

@media screen and (max-width: 768px) {
  .vision {
    flex-direction: column; /* Cambia la dirección a columna en dispositivos más pequeños */
  }

  .vision img {
    margin-right: 0; /* Elimina el margen derecho en dispositivos más pequeños */
    margin-bottom: 20px; /* Espacio entre la imagen y el texto en dispositivos más pequeños */
  
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

