/* Estilos personalizados para la página */

/* Ajustes generales */
body {
    padding-top: 0px; /* Para compensar la altura de la barra de navegación fija */
  }
  
  .navbar-nav .nav-link {
    color: #333;
  }
.navbar-nav .nav-link:hover {
    color: #007bff;
  }
  /* Estilos para el carrusel */
  #carouselSection {
    margin-top: 5px;
  }
  
  /* Estilos para los productos destacados */
  #featuredProducts {
    margin-top: 5px;
  }
  
  .card {
    transition: transform 0.3s ease; /* Efecto de transición suave */
  }
  
  .card:hover {
    transform: translateY(
      -30px
    ); /* Levanta un poco la tarjeta al pasar el ratón */
  }
  
  .card-img-top {
    height: 300px; /* Altura fija para las imágenes de los productos */
  }

  .additional-info {
    display: none; /* Oculta la información adicional por defecto */
  }
  
  .ver-detalles-btn:focus + .additional-info,
  .ver-detalles-btn:active + .additional-info {
    display: block; /* Muestra la información adicional cuando el botón es enfocado o activo */
  }
  @media screen and (max-width: 768px) {
    .containerN {
      flex-direction: column;
    }
  
    .containerN img {
      margin-left: 0;
      margin-bottom: 20px;
      size: 70%;
      padding-right: 5%;

      
    }
  }
  
  hr {
    border: none; /* Elimina el borde predeterminado */
    height: 1px; /* Establece la altura de la línea */
    background-color: #000; /* Cambia el color de fondo de la línea */
  }
  
  .responsive {
    width: 100%; 
    height:  auto; 
    
  }
  p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
  }
  .containerN {
    display: flex;
    flex-direction: row-reverse; /* Invierte la dirección de flexbox para colocar la imagen a la derecha */
    align-items: center;
  }
  
  .containerN img {
    max-width: 40%;
    margin-left: 20px; /* Espacio entre la imagen y el texto */
    padding-right: 5%;
  }

  .imgN p{
    margin: 20px;
  }

  .imgN img {
    max-width: 70%;
    margin-left: 20%; /* Espacio entre la imagen y el texto */
    padding-right: 5%;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 20%;
     padding: 0 5px;
     margin-left: 5%;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }