body {
    background-image: url('Assets\img\fondo_inicio.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  .welcome {
    color: #000;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 200px;
    opacity: 0; /* Añadido para ocultar inicialmente el contenido */
    animation: fadeIn 1s ease-in-out forwards; /* Añadido para la animación de aparición */
  }
  
  .welcome h1, .welcome h3, .welcome ul li {
    opacity: 0; /* Añadido para ocultar inicialmente cada elemento */
    animation: fadeIn 1s ease-in-out forwards; /* Añadido para la animación de aparición */
  }
  
  .welcome h1 {
    animation-delay: 0.5s; /* Retrasa la aparición de la palabra "Bienvenidos" */
  }
  
  .welcome h3 {
    animation-delay: 0.5s; /* Retrasa la aparición del subtítulo */
  }
  
  .welcome ul li:nth-child(1) {
    animation-delay: 0.6s; /* Retrasa la aparición del primer elemento de la lista */
  }
  
  .welcome ul li:nth-child(2) {
    animation-delay: 0.7s; /* Retrasa la aparición del segundo elemento de la lista */
  }
  
  .welcome ul li:nth-child(3) {
    animation-delay: 0.8s; /* Retrasa la aparición del tercer elemento de la lista */
  }
  
  .welcome ul li:nth-child(4) {
    animation-delay: 0.9s; /* Retrasa la aparición del cuarto elemento de la lista */
  }
  
  .welcome ul li:nth-child(5) {
    animation-delay: 1s; /* Retrasa la aparición del quinto elemento de la lista */
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .navbar {
    background-color: #343a40;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f8f9fa;
  }
  .footer{
    background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 20%;
     padding: 0 5px;
     margin-left: 5%;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }